<div class="animated fadeIn" id="fondorand">
  <div class="row">
    <div class="col l12 cuadro1">
      <h1 class="title white-text">Iniciar sesión</h1>

      <%= form_for @identity, url: sessions_path do |form| %>
        <%- if warden_message %>
          <div class='alert subtitle1 pink-text'><%= warden_message %></div>
        <% end %>

        <p>
          <%= form.label :email %><br />
          <%= form.text_field :email, :class => "white-text" %>
        </p>
        <p>
          <%= form.label "Contraseña" %><br />
          <%= form.password_field :password, :class => "white-text" %>
        </p>
        <div class="row center-align">
          <%= form.submit "Iniciar sesión", :class => 'btn-large deep-purple darken-3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
