<div class="animated fadeIn" id="fondorand">
  <div class="row">
    <div class="col s12 m12 l12 cuadro1">
      <h1 class="title white-text">Regístrate</h1>

      <%= form_for @identity, url: identity_path do |form| %>
        <% if @identity.errors.any? %>
          <h2 class="subtitle1 pink-text">Datos no correctos</h2>
          <ul>
            <% for message in @identity.errors.full_messages %>
              <li><%= message %>
            <% end %>
          </ul>
        <% end %>

        <p>
          <%= form.label :email %>
          <%= form.text_field :email, :class => "white-text" %>
        </p>
        <p>
          <%= form.label "Contraseña" %>
          <%= form.password_field :password, :class => "white-text" %>
        </p>
        <p>
          <%= form.label "Confirma tu contraseña" %>
          <%= form.password_field :password_confirmation, :class => "white-text" %>
        </p>
        <div class="row center-align">
          <%= form.submit "Regístrate", :class => "waves-effect btn-large deep-purple darken-3"%>
        </div>
      <% end %>

    </div>
  </div>
</div>
