<div class="row contact">
  <div class="large-12 columns">
    <h3><%= @product.name %></h3>
  </div>
  <div class="large-4 columns">
    <% if @product.default_image %>
      <%= image_tag @product.default_image.path, :width => '50px', :style => "float:right" %>
    <% end %>
  </div>
  <div class="large-8 columns">
    <p><%= @product.short_description %></p>
    <hr>
    <%= simple_format @product.description %>
    <hr>
    <%= link_to "Continuar cotizando", products_url, :class => 'btn-large purple' %>
  </div>
</div>
