<div class="row contact">
  <div class="large-12 columns">
    <h3><%= @product.name %></h3>
  </div>
  <div class="large-4 columns">
    <% if @product.default_image %>
      <%= image_tag @product.default_image.path, :width => '200px', :style => "float:right" %>
    <% end %>
  </div>
  <div class="large-8 columns">
    <p><%= @product.short_description %></p>
    <p>
      <%= link_to "Agregar: #{number_to_currency @product.price}", product_path(@product.permalink), :method => :post, :class => 'button small radius' %>
    </p>

    <hr>
    <%= simple_format @product.description %>
    <hr>
    <%= link_to "Continuar comprando", products_url, :class => 'button small radius' %>
  </div>
</div>
